@import url(http://fonts.googleapis.com/css?family=Lobster|Oxygen:400,300,700|Playball|Righteous|Allan:400,700);
/* line 5, ../../../compass/sass/admin/s.scss */
body {
  background-color: #fff;
}

/* line 9, ../../../compass/sass/admin/s.scss */
.box {
  background: #EEE;
  border-radius: 4px;
  padding: 15px;
}
/* line 14, ../../../compass/sass/admin/s.scss */
.box .box-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Lobster', cursive;
}

/* line 23, ../../../compass/sass/admin/s.scss */
#page-wrapper {
  padding-bottom: 15px;
}

/* line 27, ../../../compass/sass/admin/s.scss */
.green {
  color: #5CB85C;
}

/* line 31, ../../../compass/sass/admin/s.scss */
.flash {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  border-radius: 4px;
}
/* line 37, ../../../compass/sass/admin/s.scss */
.flash.notice {
  color: #3B773B;
  background-color: #D7FFDD;
}
/* line 42, ../../../compass/sass/admin/s.scss */
.flash.error {
  color: #773B3B;
  background-color: #FFD7D7;
}

/* line 49, ../../../compass/sass/admin/s.scss */
.userItem {
  float: left;
  border: 1px solid #CCC;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 4px;
  width: 100%;
}
/* line 57, ../../../compass/sass/admin/s.scss */
.userItem .dropdown {
  position: absolute;
  top: 5px;
  right: 5px;
}
/* line 63, ../../../compass/sass/admin/s.scss */
.userItem .captain {
  position: absolute;
  top: -10px;
  right: 6px;
  font-size: 20px;
  color: #F80;
}

/* line 72, ../../../compass/sass/admin/s.scss */
.textarea {
  width: 100%;
  min-height: 300px;
  -webkit-appearance: textarea;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  padding: 2px;
  padding: 6px 12px;
  font-size: 14px;
  background-color: #FFF;
  border: 1px solid #CCC;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* line 94, ../../../compass/sass/admin/s.scss */
.marged-top {
  margin-top: 15px;
}

/* line 98, ../../../compass/sass/admin/s.scss */
.marged-bottom {
  margin-bottom: 15px;
}

/* line 105, ../../../compass/sass/admin/s.scss */
.form-group.full-label label {
  width: 100% !important;
}
/* line 110, ../../../compass/sass/admin/s.scss */
.form-group img {
  max-width: 100%;
}

/* line 116, ../../../compass/sass/admin/s.scss */
#toolbar-editor .btn-group {
  margin-bottom: 5px;
}

/* line 121, ../../../compass/sass/admin/s.scss */
.go-to-front-url {
  display: block;
  float: left;
  color: #9D9D9D;
  padding: 15px;
  border-left: 1px solid #404040;
}
/* line 127, ../../../compass/sass/admin/s.scss */
.go-to-front-url:hover {
  text-decoration: none;
  color: #fff;
}

/* line 133, ../../../compass/sass/admin/s.scss */
.navbar-inverse .navbar-nav > li > a {
  color: #9d9d9d;
  border-top: 1px solid #333;
  border-bottom: 1px solid #000;
}

/* line 141, ../../../compass/sass/admin/s.scss */
#wrapper {
  padding-left: 300px;
}
/* line 144, ../../../compass/sass/admin/s.scss */
#wrapper .side-nav {
  width: 300px;
  background-color: #000;
  border-right: 1px solid #000;
  direction: rtl;
  overflow-y: scroll;
  padding-left: 15px;
  left: 0;
  margin: 0;
  margin-left: -15px;
}
/* line 156, ../../../compass/sass/admin/s.scss */
#wrapper .side-nav > li {
  direction: ltr;
  text-align: left;
}
/* line 161, ../../../compass/sass/admin/s.scss */
#wrapper .side-nav > li.active > a {
  background: #444;
  box-shadow: none;
}
/* line 166, ../../../compass/sass/admin/s.scss */
#wrapper .side-nav > li > a {
  width: 300px;
  padding-left: 60px;
  position: relative;
  background: #222;
  padding-right: 30px;
}
/* line 173, ../../../compass/sass/admin/s.scss */
#wrapper .side-nav > li > a > i {
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
}
/* line 187, ../../../compass/sass/admin/s.scss */
#wrapper .side-nav > li > ul {
  background: #111;
}
/* line 190, ../../../compass/sass/admin/s.scss */
#wrapper .side-nav > li > ul > li > a {
  border-top: 1px solid #222;
  border-bottom: 1px solid #000;
}
