@import url(http://fonts.googleapis.com/css?family=Lobster|Oxygen:400,300,700|Playball|Righteous|Allan:400,700);
/* line 6, ../../../compass/sass/front/s.scss */
div.flash {
  position: absolute;
  top: 20%;
  left: 0;
  padding: 30px 50px;
  z-index: 100;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 0px 3px #000;
  border-left: 0;
  color: #FFF;
  font-size: 15px;
}
/* line 21, ../../../compass/sass/front/s.scss */
div.flash.notice {
  background-color: #92D092;
  border: 2px solid #4EB35B;
}
/* line 26, ../../../compass/sass/front/s.scss */
div.flash.error {
  background-color: #D09292;
  border: 2px solid #B34E4E;
}

/* line 34, ../../../compass/sass/front/s.scss */
header .container-fluid {
  border-bottom: 4px solid #FFF;
  box-shadow: 0px 3px 19px #012242;
  position: fixed;
  top: 0;
  z-index: 20;
  background: #012242;
  width: 100%;
}
/* line 43, ../../../compass/sass/front/s.scss */
header .container-fluid #logo {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 49, ../../../compass/sass/front/s.scss */
header .container-fluid #logo img {
  height: 150px;
  margin-top: 10px;
}
@media (max-width: 768px) {
  /* line 56, ../../../compass/sass/front/s.scss */
  header .container-fluid #logo {
    position: absolute;
    top: 0;
    left: 0;
    right: inherit;
  }
  /* line 63, ../../../compass/sass/front/s.scss */
  header .container-fluid #logo img {
    height: 50px;
    margin: 0;
  }
}
/* line 71, ../../../compass/sass/front/s.scss */
header .container-fluid .container {
  position: relative;
}
/* line 77, ../../../compass/sass/front/s.scss */
header .nav > li > a:hover {
  background: none;
}
/* line 81, ../../../compass/sass/front/s.scss */
header .navbar {
  margin-bottom: 0;
}
/* line 83, ../../../compass/sass/front/s.scss */
header .navbar a {
  color: #fff;
  font-family: 'Lobster', cursive;
}
/* line 85, ../../../compass/sass/front/s.scss */
header .navbar a:hover, header .navbar a:focus {
  color: inherit;
}
/* line 89, ../../../compass/sass/front/s.scss */
header .navbar a.hvr-bounce-to-top:before {
  background: #EEE;
}
/* line 95, ../../../compass/sass/front/s.scss */
header .navbar-collapse {
  position: relative;
}
@media (min-width: 768px) {
  /* line 100, ../../../compass/sass/front/s.scss */
  header .navbar-collapse.collapse {
    padding: 0;
  }
  /* line 104, ../../../compass/sass/front/s.scss */
  header .navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
    min-width: 100px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  /* line 112, ../../../compass/sass/front/s.scss */
  header .navbar-nav {
    width: 80%;
  }
}
/* line 117, ../../../compass/sass/front/s.scss */
header .navbar-toggle {
  border-color: #fff;
}
/* line 121, ../../../compass/sass/front/s.scss */
header .navbar-toggle .icon-bar {
  background: #fff;
}

/* line 127, ../../../compass/sass/front/s.scss */
h1, h2, h3 {
  font-family: 'Lobster', cursive;
}

/* line 131, ../../../compass/sass/front/s.scss */
.esftt {
  font-size: 50px;
  /*font-family: 'Righteous', cursive;*/
}

/* line 136, ../../../compass/sass/front/s.scss */
.la-frette {
  font-size: 18px;
}

/* line 140, ../../../compass/sass/front/s.scss */
.full-div {
  width: 100%;
}

/* line 144, ../../../compass/sass/front/s.scss */
.green {
  color: green;
}

/* line 148, ../../../compass/sass/front/s.scss */
.box {
  border-radius: 4px;
  background: #FFF;
  padding: 15px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
  position: relative;
  float: left;
  width: 100%;
}
/* line 157, ../../../compass/sass/front/s.scss */
.box .box-title {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  color: #333;
}
/* line 162, ../../../compass/sass/front/s.scss */
.box .box-title .fa {
  margin-right: 15px;
}
/* line 168, ../../../compass/sass/front/s.scss */
.box.marged-top {
  margin-top: 30px;
}
/* line 172, ../../../compass/sass/front/s.scss */
.box.black {
  background: #000;
}
/* line 176, ../../../compass/sass/front/s.scss */
.box .box-content {
  position: relative;
}

/* line 181, ../../../compass/sass/front/s.scss */
.marged-top {
  margin-top: 15px;
}

/* line 185, ../../../compass/sass/front/s.scss */
.marged-bottom {
  margin-bottom: 15px;
}

/* line 189, ../../../compass/sass/front/s.scss */
.box:before {
  content: " ";
  position: absolute;
  z-index: 0;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 1px solid #748187;
  border-radius: 3px;
}

/* line 201, ../../../compass/sass/front/s.scss */
#main-container {
  min-height: 1000px;
  padding-top: 130px;
  padding-bottom: 30px;
  background: #668DC4;
  background: -moz-radial-gradient(center, ellipse cover, #A0A0A0 0%, #002D45 99%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #A0A0A0), color-stop(99%, #002D45));
  background: -webkit-radial-gradient(center, ellipse cover, #668DC4 0%, #002D45 99%);
  background: -o-radial-gradient(center, ellipse cover, #A0A0A0 0%, #002D45 99%);
  background: -ms-radial-gradient(center, ellipse cover, #A0A0A0 0%, #002D45 99%);
  background: radial-gradient(ellipse at center, #a0a0a0 0%, #002d45 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A0A0A0', endColorstr='#002D45',GradientType=1 );
}

@media (max-width: 768px) {
  /* line 218, ../../../compass/sass/front/s.scss */
  #main-container {
    padding-top: 85px;
  }
}
/* line 222, ../../../compass/sass/front/s.scss */
#myCarousel {
  border-radius: 4px;
  border: 5px solid #FFF;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}

/* line 230, ../../../compass/sass/front/s.scss */
.carousel .item {
  height: 500px;
}
@media (max-width: 768px) {
  /* line 230, ../../../compass/sass/front/s.scss */
  .carousel .item {
    height: 180px;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  /* line 230, ../../../compass/sass/front/s.scss */
  .carousel .item {
    height: 360px;
  }
}
/* line 243, ../../../compass/sass/front/s.scss */
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
  max-width: none;
}

/* line 254, ../../../compass/sass/front/s.scss */
.article-form img {
  width: 100%;
  margin-bottom: 15px;
  display: block;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #FFF;
  border: 1px solid #DDD;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}

/* line 275, ../../../compass/sass/front/s.scss */
footer {
  padding-top: 40px;
  border-top: 4px solid #FFF;
  background: #C3C3C3;
  height: 185px;
}
/* line 282, ../../../compass/sass/front/s.scss */
footer .links a {
  color: #333;
  font-weight: bold;
}

/* line 289, ../../../compass/sass/front/s.scss */
.article {
  margin-top: 15px;
}
/* line 291, ../../../compass/sass/front/s.scss */
.article img {
  width: 100%;
}
/* line 295, ../../../compass/sass/front/s.scss */
.article:last-child {
  margin-bottom: 0;
}
/* line 299, ../../../compass/sass/front/s.scss */
.article .thumbnail {
  margin-bottom: 0;
}
/* line 303, ../../../compass/sass/front/s.scss */
.article .date {
  width: 65px;
  height: 65px;
  background: #012242;
  color: #fff;
  text-align: center;
  position: relative;
  float: left;
  padding-top: 3px;
  margin-right: 15px;
  border-radius: 50%;
  margin-bottom: 15px;
  font-family: 'Lobster', cursive;
}
/* line 317, ../../../compass/sass/front/s.scss */
.article .date .day {
  display: block;
  width: 100%;
  font-size: 30px;
}
/* line 323, ../../../compass/sass/front/s.scss */
.article .date .month {
  display: block;
  width: 100%;
  font-size: 15px;
  margin-top: -10px;
}
/* line 331, ../../../compass/sass/front/s.scss */
.article .news-title {
  font-family: 'Lobster', cursive;
  font-size: 25px;
  float: left;
  line-height: 60px;
}

/* line 339, ../../../compass/sass/front/s.scss */
.gallery-folder {
  position: relative;
  float: left;
  font-size: 16px;
  font-family: 'Lobster', cursive;
  color: #fff !important;
  text-decoration: none !important;
  width: 100%;
}
/* line 349, ../../../compass/sass/front/s.scss */
.gallery-folder:hover .gallery-hover {
  opacity: 1;
  transition: opacity 0.3s;
}
/* line 354, ../../../compass/sass/front/s.scss */
.gallery-folder .gallery-hover {
  position: absolute;
  background: #000;
  width: 100%;
  bottom: 0;
  left: 0;
  color: #FFF;
  text-align: center;
  padding: 15px;
  overflow: hidden;
  border-radius: 5px;
  opacity: 0.6;
  transition: opacity 0.3s;
}

/* line 372, ../../../compass/sass/front/s.scss */
.directory .box {
  height: 156px;
  overflow: hidden;
}

/* line 377, ../../../compass/sass/front/s.scss */
li.home a {
  font-size: 25px;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

@media (min-width: 768px) {
  /* line 384, ../../../compass/sass/front/s.scss */
  header .navbar-nav > li > a {
    padding-top: 27px;
    padding-bottom: 28px;
    min-width: 100px;
    text-align: center;
    font-size: 20px;
  }
}
/* line 394, ../../../compass/sass/front/s.scss */
.swiper-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #000;
}
@media (min-width: 768px) {
  /* line 394, ../../../compass/sass/front/s.scss */
  .swiper-container {
    height: 300px;
  }
}

/* line 406, ../../../compass/sass/front/s.scss */
.swiper-slide {
  background-size: cover;
  background-position: center;
  text-align: center;
}
/* line 410, ../../../compass/sass/front/s.scss */
.swiper-slide.swiper-slide-prev {
  margin-right: 0 !important;
}
@media (min-width: 768px) {
  /* line 414, ../../../compass/sass/front/s.scss */
  .swiper-slide .photo {
    height: 100%;
  }
}
@media (max-width: 768px) {
  /* line 414, ../../../compass/sass/front/s.scss */
  .swiper-slide .photo {
    width: 100%;
  }
}

/* line 424, ../../../compass/sass/front/s.scss */
.gallery-top {
  width: 100%;
  background: #000;
  margin-top: 15px;
  padding: 15px;
}
@media (min-width: 768px) {
  /* line 424, ../../../compass/sass/front/s.scss */
  .gallery-top {
    height: 600px;
  }
}

/* line 434, ../../../compass/sass/front/s.scss */
.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

/* line 439, ../../../compass/sass/front/s.scss */
.gallery-thumbs .swiper-slide {
  width: auto;
  height: 80px;
  opacity: 0.4;
}

/* line 444, ../../../compass/sass/front/s.scss */
.gallery-thumbs .swiper-slide-active {
  opacity: 1;
}

/* line 448, ../../../compass/sass/front/s.scss */
.no-pad {
  padding: 0;
}

/* line 452, ../../../compass/sass/front/s.scss */
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  background-color: #012242;
}

/* line 457, ../../../compass/sass/front/s.scss */
.nav a {
  color: #333;
}

/* line 463, ../../../compass/sass/front/s.scss */
.pagination a {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 28px;
  background-color: #012242;
  color: #FFF;
  border-radius: 50%;
  text-decoration: none;
  border: 1px solid #012242;
  font-size: 10px;
}
/* line 476, ../../../compass/sass/front/s.scss */
.pagination a.current {
  background: #fff;
  color: #012242;
  border: 1px solid #012242;
}
/* line 479, ../../../compass/sass/front/s.scss */
.pagination a.current:hover {
  cursor: default;
}

/* line 488, ../../../compass/sass/front/s.scss */
.small {
  font-size: 9px;
}

/* line 492, ../../../compass/sass/front/s.scss */
label {
  float: left;
}

/* line 496, ../../../compass/sass/front/s.scss */
.error_list {
  padding: 0;
  font-size: 9px;
  float: left;
  margin: 0;
  padding-top: 5px;
  padding-left: 10px;
}
/* line 503, ../../../compass/sass/front/s.scss */
.error_list li {
  list-style: none;
  color: #F00;
}

/* line 509, ../../../compass/sass/front/s.scss */
.has-error .form-control {
  border-color: #F00;
}

/* line 513, ../../../compass/sass/front/s.scss */
header .social-nav {
  position: absolute;
  top: 20px;
  right: 365px;
}
@media (max-width: 992px) {
  /* line 513, ../../../compass/sass/front/s.scss */
  header .social-nav {
    top: 86px;
    left: 0;
  }
}
@media (max-width: 768px) {
  /* line 513, ../../../compass/sass/front/s.scss */
  header .social-nav {
    top: 0px;
    right: 20px;
    left: inherit;
    width: inherit;
  }
}
/* line 531, ../../../compass/sass/front/s.scss */
header .social-nav li {
  padding: 0;
  width: 35px;
  height: 35px;
  margin-right: 15px;
  margin-bottom: 10px;
}
/* line 537, ../../../compass/sass/front/s.scss */
header .social-nav li:hover {
  color: #fff;
}
/* line 542, ../../../compass/sass/front/s.scss */
header .social-nav li a {
  padding: 0;
  width: 35px;
  height: 35px;
  min-width: 0;
  padding-top: 9px;
  display: block;
  text-align: center;
  font-size: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 12px #000;
}
/* line 554, ../../../compass/sass/front/s.scss */
header .social-nav li a.facebook {
  background-color: #6E84B6;
}
/* line 558, ../../../compass/sass/front/s.scss */
header .social-nav li a.twitter {
  background-color: #00A5FF;
}

/* line 568, ../../../compass/sass/front/s.scss */
.slider-full {
  margin-top: -50px;
}
/* line 572, ../../../compass/sass/front/s.scss */
.slider-full #myCarousel {
  border: none;
  border-bottom: 5px solid #FFF;
}

/* line 578, ../../../compass/sass/front/s.scss */
img.swiper-lazy.photo.swiper-lazy-loaded {
  margin-left: -30px;
}

/* line 582, ../../../compass/sass/front/s.scss */
.team-name {
  font-family: 'Lobster', cursive;
  margin-bottom: 15px;
  display: block;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCC;
  margin-top: 15px;
}

@media (max-width: 768px) {
  /* line 594, ../../../compass/sass/front/s.scss */
  header .container-fluid,
  header .container {
    padding-right: 0px;
    padding-left: 0px;
  }

  /* line 600, ../../../compass/sass/front/s.scss */
  #main-container {
    padding-top: 85px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
/* line 607, ../../../compass/sass/front/s.scss */
.user-team-unit {
  padding: 5px;
  border-radius: 4px;
  color: #000;
  transition: box-shadow 0.3s;
}
/* line 613, ../../../compass/sass/front/s.scss */
.user-team-unit:hover {
  box-shadow: 0px 0px 20px #CCC;
  transition: box-shadow 0.3s;
}

/* line 620, ../../../compass/sass/front/s.scss */
iframe body {
  background: none !important;
}
/* line 622, ../../../compass/sass/front/s.scss */
iframe body table {
  border: none;
}
/* line 624, ../../../compass/sass/front/s.scss */
iframe body table tr, iframe body table td {
  border: none;
  text-align: left;
  background: none;
}
/* line 628, ../../../compass/sass/front/s.scss */
iframe body table tr img, iframe body table td img {
  display: none;
}
