.clearfix {
	clear: both;
}

.col {

	padding: 10px;
	box-sizing: border-box;
	float: left;
	background: white;
}

.col-1-3 {
	width: 33.33%;
}

.col-2-3 {
	width: 66.66%
}

.col-3-3, .col-4-4, .col-2-2 {
	width: 100%;
}

.col-1-4 {
	width: 25%;
}

.col-2-4, .col-1-2 {
	width: 50%;
}

.col-3-4 {
	width: 75%;
}

.form {
	margin: 0;
}

.floatleft {
	float: left;
}

.floatright{
	float: right;
}

.maincontent{

}

.navbar-inner {
	border-radius: 0;
}

body {
	background: #363636;
}

.container {

}

footer {
	/*padding: 15px;*/
}

a {
	text-decoration: none;
	color: #9C9C9C;
	transition: color 0.2s;
}

a:hover {
	color: #37bc0a;
	text-decoration: none;
	transition: color 0.2s;
}

h1 {
	color: #1F7E2A;
	text-shadow: 1px 1px 3px #000;
	font-family: impact;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #fff;
	text-transform: uppercase;
	font-size: 50px;
}

h2.blue {
	color: #008124;
}

h2 {
	text-shadow: 1px 1px 1px #A09898;
	font-family: impact;
	text-transform: uppercase;
}


.btn.blue {
	color: #fff;
	text-shadow: 1px 1px 1px gray;
background: #61d53b; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYxZDUzYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzZlZDU0ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzNmYzMxNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzN2JjMGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #61d53b 0%, #6ed54f 50%, #3fc317 51%, #37bc0a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#61d53b), color-stop(50%,#6ed54f), color-stop(51%,#3fc317), color-stop(100%,#37bc0a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #61d53b 0%,#6ed54f 50%,#3fc317 51%,#37bc0a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #61d53b 0%,#6ed54f 50%,#3fc317 51%,#37bc0a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #61d53b 0%,#6ed54f 50%,#3fc317 51%,#37bc0a 100%); /* IE10+ */
background: linear-gradient(to bottom, #61d53b 0%,#6ed54f 50%,#3fc317 51%,#37bc0a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61d53b', endColorstr='#37bc0a',GradientType=0 ); /* IE6-8 */transition: background 0.7s;
}

.btn.blue:hover {


background: #37bc0a; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM3YmMwYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iIzNmYzMxNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzZlZDU0ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2MWQ1M2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #37bc0a 0%, #3fc317 49%, #6ed54f 50%, #61d53b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#37bc0a), color-stop(49%,#3fc317), color-stop(50%,#6ed54f), color-stop(100%,#61d53b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #37bc0a 0%,#3fc317 49%,#6ed54f 50%,#61d53b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #37bc0a 0%,#3fc317 49%,#6ed54f 50%,#61d53b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #37bc0a 0%,#3fc317 49%,#6ed54f 50%,#61d53b 100%); /* IE10+ */
background: linear-gradient(to bottom, #37bc0a 0%,#3fc317 49%,#6ed54f 50%,#61d53b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37bc0a', endColorstr='#61d53b',GradientType=0 ); /* IE6-8 */transition: background 0.7s;
}


ul{
	list-style: none;
	margin: 0;
}

ul li{
	margin: 5px 0;
}

span.li-title {
	display: block;
	text-transform: uppercase;
}

em{
	font-size: 11px;
	color: #797979;
}

ul.nav-list li{
	margin: 5px 0px;
}

ul.nav li a i{
	margin-right: 10px;
	width: 15px;
}

.logo{
	height: 50px;
}

.col footer, footer .col{
	background: #000 !important;
}

footer{
	background: #000 !important;
	overflow: hidden;
	color: #FFF;
}

#sponsor-list li img{
	box-shadow: 0px 1px 1px #868686;
}

#sponsor-list li{
	transition: transform 0.1s;
}

#sponsor-list li:hover{
	transition: transform 0.1s;
	transform: rotate(3deg);
}


.user-info {
	float: left;
	position: relative;
	margin-left: 0;
	padding: 5px;
	padding-left: 15px;
	padding-top: 10px;
}

.user-info .avatar{
	height: 80px;
	float: left;
	padding: 5px;
	border: 1px solid #BDBDBD;
}

.user-info .welcome {
	position: absolute;
	top: 5px;
	display: block;
	left: 115px;
	font-weight: 200;
}

.user-info .username {
	position: absolute;
	top: 25px;
	left: 115px;
	font-weight: bold;
}

.user-info .signout {
	position: absolute;
	bottom: 5px;
	left: 115px;
}

.form.login {
	padding: 15px;
}

.form.login ul{

	margin-left: 0px;

}

.form.login ul li input{

	width: 94%;

}

.form.login .signin {
	float: right;
}

.form.login .signout{
	float: right;
}

.bs-docs-sidebar {
	/*box-shadow: 7px 1px 11px -1px #EBEBEB;*/
	margin-left: 0px;
}

.navbar {
	margin-bottom: 0px;
}



.articles .article {
	position: relative;
}

.article-header{
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #E4E4E4;
	margin-bottom: 10px;
}

.article h2 {
	float: left;
}

.article-date {
	float: right;
	margin-top: 25px;
}

.article-image {
	margin-left: 0px;
}

.article-image img{
	width: 100%;
	border: 1px solid #808080;
	padding: 5px;
	box-shadow: 2px 2px 2px #808080;
	box-sizing: border-box;
}

.article-author {
	float: right;
	margin-top: 25px;
	color: #000;
	font-style: normal;
	font-weight: 200;
	margin-right: 15px;
}

.navbar .nav>li>a {
	text-transform: uppercase;
	color: #C5C5C5;
	font-size: 13px;
}

.navbar .nav>li>a:hover {
	color: #FFF
}

.share-social {
	position: absolute;
	right: 0;
}

.article a {
	font-size: 12px;
}

.head-article {
	position: relative;
}

.article-info {
	position: absolute;
	bottom: 0px;
	right: 0;
}

.article-content {
}

.article-unit .article-content {
	margin-left: 0px;
	margin-top: 20px;
	padding-bottom: 20px;
}

.article-unit .article-content ul{

	list-style: initial;

}

.article-unit {
	position: relative;
}

.article-unit .share-social {
	bottom: 0px;
}

.article-short {
	text-align: justify;
}

.article-unit .article-short{
	font-weight: bold;
}

.signout .fa {
	margin-right: 5px;
}

.article-comments {
	margin-top: 10px;

}

.article-comments .list-comments{
	margin: 0;
	overflow: hidden;
	border: 1px solid #C5C5C5;
	border-radius: 10px;
}

.article-comments ul {
	margin: 0;
}

.comment {
	margin: 10px;
	text-align: justify;
}

.article-comments  hr {
	margin: auto;
	width: 95%;
}

.comment .comment-avatar {
	width: 50px;
	padding: 5px;
	border: 1px solid #C5C5C5;
	float: left;
	margin-right: 10px;
}

.comment .comment-author {
	font-weight: bold;
	font-size: 12px;
	margin-top: 30px;
}

.comment-date {
	font-size: 10px;
	color: #A0A0A0;
	font-style: italic;
	margin-top: -5px;
}

.comment .comment-header {
	width: 100px;
	float: left;
	padding: 10px;
}

.comment .comment-content {
	font-size: 12px;
	color: #808080;
	float: left;
	width: 600px;
	padding: 10px;
	border: 1px solid #C5C5C5;
}

.comment-form {
	padding: 10px;
}

.comment-form label {
	display: none;
}

.comment-form textarea {
	width: 98%;
	resize:vertical;
}

.pagination {
	float: left;
	text-align: center;
	width: 100%;
}

form.esftt-form {
	padding: 30px;
	margin-top: 15px;
	background: #F0F0F0;
	border-radius: 10px;
	border: 1px solid #808080;
	box-shadow: 3px 2px 2px #AFAFAF;
	overflow: hidden;
}

form.esftt-form label{
	clear: both;
	float: left;
	width: 200px;
	color: #000069;
	text-shadow: 1px 1px 2px #FFF;
	text-transform: lowercase;
	font-size: 15px;
	font-family: helvetica;
	font-weight: 100;
}

form.esftt-form input {
	float: left;
}

form.esftt-form input.btn {
	clear: both;
}


#gallery.content {
	float: left;
	width: 100%;
}

#gallery .controls {
	margin-top: 5px;
	height: 23px;
}

#gallery .nav-controls {
float: right;
}

#gallery .slideshow-container {
	position: relative;
	clear: both;
	height: 550px;
}

#gallery .slideshow span.image-wrapper {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#gallery .image-caption {
	display: block;
	width: 100%;
	position: absolute;
	height: 20px;
	overflow: auto;
}

#gallery .download {
	display: none;
}

#gallery .caption .image-title {
	display: none;
}

#gallery .slideshow a.advance-link {

	width: 100%;
	height: 500px;
	line-height: 502px;
	text-align: center;
	display: block;
	padding: 10px;
	box-sizing: border-box;
}

#caption {
	width: 100%;
	z-index: 2;
	overflow: auto;
	height: 20px;
	padding: 10px 0px;
	font-style: italic;
}

#caption .image-desc {

}

#slideshow:hover #caption .image-desc{
/*	opacity: 0.8;
	transition: opacity 0.7s;*/
}

.advance-link img {
	height: 100%;
	box-sizing: border-box;
	position:absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	padding: 3px;
}

#gallery .slideshow img {
	vertical-align: middle;
	border: 1px solid #CCC;
}

#controls {
	float: left;
	width: 100%;
	position: relative;
}

#controls .ss-controls {
	text-align: center;
}


#controls .nav-controls .prev {
	left: 0;
	position: absolute;
	top: 0;
}

#controls .nav-controls .next {
	right: 0;
	position: absolute;
	top: 0;
}

#thumbs .selected img{

	opacity: 1;

}

#thumbs img{

	max-height: 100px;
	border: 1px solid #808080;
	box-shadow: 1px 1px 2px #000;
	opacity: 0.5;
	transition: opacity 0.7s;

}

#thumbs img:hover{

	transition: opacity 0.7s;
	opacity: 1;

}

#thumbs {
	width: 100%;
	float: left;
	padding: 5px;
	box-sizing: border-box;
}

#thumbs .pagination {
	clear: both;

}

#thumbs .top {
	margin-bottom: 12px;
	height: 11px;
}

#thumbs ul.thumbs {
	clear: both;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	overflow: auto;
	height: 120px;
}

#thumbs ul.thumbs li {
	padding: 0;
	margin: 5px 10px 5px 0;
	list-style: none;
	display: inline;
}

#thumbs ul.thumbs li a {
	line-height: 120px;
}


.gallery-ico {
	display: block;
	width: 200px;
	height: 200px;
	overflow: auto;
	text-align: center;
	border: 4px solid #FFF;
	box-shadow: 0px 0px 1px #000;
	position: relative;
	float: left;
	margin: 10px;
	margin-left: 0px;
}

.gallery-ico img{
	height: 100%;
	max-width: inherit;
}

.gallery-name {
	position: absolute;
	bottom: 0;
	background: #000;
	width: 200px;
	padding: 10px 0px;
	bottom: -40px;
	transition: bottom 0.3s;
	color: white;
	opacity: 0.7;
}

.gallery-ico:hover .gallery-name{
	bottom: 0px;
	transition: bottom 0.3s;
}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.sub-content {
		width: 476px;
		padding-left: 15px;
	}

	.articles .article {
		width: 100%;
	}

	.advance-link img {
		height: initial;
		max-width: 100%;
		max-height: 100%;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	.sub-content {
		width: 100%;
		padding-left: 15px;
	}

	.articles .article {
		width: 100%;
	}

	.advance-link img {
		height: initial;
		max-width: 100%;
		max-height: 300px;
	}

	#gallery .slideshow-container {
		position: relative;
		clear: both;
		height: 345px;
	}


/* Landscape phones and down */

@media (max-width: 480px) {

	.sub-content {
		width: 100%;
		padding-left: 15px;
	}

	.articles .article {
		width: 100%;
	}

	.article .share-social {
		bottom: 0px;
	}

	.article-image img {
		padding: 0px;
	}

	.col-1-3, .col-2-3, .col-3-3, .col-1-4, .col-2-4, .col-3-4, .col-4-4 {
		width: 100%;
	}

}